logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.vs/
logs
project/project
project/target
target
tmp
.history
.ensime
.ensime_lucene
.ensime_cache
.cache
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/bin
.DS_Store
conf/generated.keystore
*~